<style>
    .myspinner{
        width:10em;
        height:10em;
        margin: 1em;
    }

</style>
<div class="spinner-grow text-primary myspinner align-content-center"  role="status">
      <span class="sr-only">Loading...</span>
 </div>
