@page "/"
@using System.Security.Claims
@attribute [Authorize]
<h2>Hello</h2>

<h4>Welcome to the App </h4>


<SurveyPrompt Title="@(new string[]{ user.FindFirst("sub").Value,user.FindFirst("roles").Value })" />
@code{
    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; }
    private ClaimsPrincipal user{ get; set; }
    protected override async void OnParametersSet()
    {
        base.OnParametersSet();
        if (authState is not null)
            user = (await authState).User;

    }

}